main {
    padding: 0 10px;
}

main h1 {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 20px;
}

main .form-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
    max-width: 100%;
    margin: 0 auto;
}

main .form-container .fieldWrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

main .form-container .fieldWrapper .form-input{
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #555555;
}

main .form-container button{
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #686868;
    background-color: #587ee6;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
}

main .form-container button:hover{
    outline: 1px solid #555555;
}
